body {
	margin: 0px;
}


.Container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

h1 {
	color: burlywood;
	font-family: cursive;
/*	font-style: normal;*/
	font-weight: bold;
	font-size: 24px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	width: 230px;
	text-align: center;
	-moz-box-shadow:4px 4px 5px #999999;
	-ms-box-shadow:4px 4px 5px #999999;
	-webkit-box-shadow:4px 4px 5px #999999;
	-o-box-shadow:4px 4px 5px #999999;
	box-shadow: 4px 4px 5px #999999;
	margin-top: 10px;
}
img	{
	width: 360px;
	height: 220px;
	margin: 10px;
	transition: all 0.25s;
}

img:hover {
	transform: scale(1.20);

}

body {
	background-image: url(background.jpg.jpg);
	background-size: cover;
}